body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    width: 750px;
    border: 1px solid #000000;
    margin-left: auto !important;
    margin-right: auto !important;
}

h1 {
    margin-top: 0.25em;
    margin-bottom: 20px;
    margin-left: 10px;
}

a:link, a:visited {
    font-size: 12px;
    color: #003388;
    text-decoration: none;
}

a:hover {
    color: #0066CC;
}

a img {
    border: none;
}

input {
    font-size: 12px;
}

/*
 * Taken from bootstrap. If we import a lot of rules break and we end up
 * with broken pages. The ui in general needs an overhaul but that's a lot
 * of work.
 */
ul {
    margin-top: 0;
    margin-bottom: 1rem;
}

.nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav-link {
    display: block;
    padding: .5em 1em;
}

.justify-content-center {
    -webkit-box-pack: center !important;
    -webkit-justify-content: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
}

.standardBody {
    font-size: 12px;
    margin-top: 0px;
    margin-bottom: 25px;
    margin-left: 50px;
    margin-right: 50px;
}

.menuheader {
    float: right;

}

.menuheader table {

}

/**
.menubar {
padding: 0px;
padding-left: 15px;
padding-right: 15px;
border-bottom: 1px solid #000000;
font-size: x-small;
}

.menubar table {
width: 100%;
} */

.menubar td {
    width: 75px;
    margin: 0px;
    /*border: 1px solid #000000;*/
    padding-left: 25px;
    padding-right: 25px;
}

.menucell {
    /*border: 1px solid #000000;
    margin-left: 25px;
    margin-right: 25px;*/
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 15px;
    padding-bottom: 0px;
    /**background:#ebebeb;*/
    text-align: center;
    width: 100%;
}

.header {
    display: block;
    margin-top: 25px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.footer {
    /*padding-left: 50px;*/
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #ffeeee;
    font-size: x-small;
    border-top: 1px solid;
    clear: both;
}

/*.leftmenu {
height: 100%;
border-right: 1px solid #000000;
padding: 10px;
font-size: small;
vertical-align: top;
}*/

.submitLink {
    color: #4444cc;
    font-family: Arial, Helvetica, sans-serif;
    background-color: transparent;
    text-decoration: underline;
    border: none;
    cursor: pointer;
    cursor: hand;
    font-size: medium;
}

.popupDiv {
    background-color: #e8e8e8;
    display: none;
    width: 170px;
    height: 100px;
    position: absolute;
    color: black;
    font-size: small;
}

#statustable thead {
    background-color: #e8e8e8;
}

.statusrow {
    border-bottom: 1px dotted #555;
}

#statustable tr td {
    padding-left: 5px;
}

#statustable {
    font-size: small;
    border: 1px solid #000000;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 50px;
    margin-right: 50px;
    width: 650px;
}

#dettable tr td {
    padding-top: 15px;
    padding-left: 15px;
}

#details {
    font-size: small;
    margin-top: 0px;
    margin-left: 50px;
    margin-right: 50px;
    width: 650px;
}

.logtypeselection {
    margin-top: 20px;
    margin-bottom: 5px;
}

#settingsTable {
    font-size: small;
    border: 1px solid #000000;
    margin-left: 5%;
    margin-right: 5%;
}

.settingsRow {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 20px;
    width: 100%;
    clear: both;
}

.settingsName {
    width: 200px;
    float: left;
    margin-left: 2px;
}

.settingsVal {
    width: 250px;
    float: left;
    text-align: center;
}

.settingsHelp {
    float: left;
}

.dropDownContainer {
    margin: 0;
    padding: 0;
    width: 100%;

}

.collName {
    margin: 1px;
    color: #000;
    padding: 3px 10px;
    cursor: pointer;
    position: relative;
    background-color: #eee;
}

.ingestContent {
    padding: 5px 10px;
    background-color: #fff;
}

#searchtable {
    margin-top: 10px;
    margin-bottom: -10px;
    margin-left: auto;
    margin-right: auto;
    width: 650px;
}

.input {
    padding: 2px;
    display: flex;
    width: 650px;
}

.input-group-addon {
    border: 1px solid #ccc;
    font-size: 12px;
    background-color: #e8e8e8;
    text-align: center;
    width: 75px;
    height: 20px;
    line-height: 20px;
    padding: 3px 10px;
}

.form-input {
    border: 1px solid #ccc;
    width: 100%;
    padding: 3px 8px;
    margin-left: -1px;
    margin-right: 5px;
}

.form-select {
    border: 1px solid #ccc;
    width: 100%;
    margin-left: -3px;
    margin-right: 5px;
}

.form-input-settings {
    width: 100%;
    max-width: 100%;
    border: 1px solid #363636;
    border-radius: 3px;
    height: 1.5rem;
    padding: 0.275rem;
    box-sizing: border-box;
    box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
}

.form-input-settings:hover {
    border-color: #076475;
}

.form-input-settings:focus {
    border-color: #5883C9;
    box-shadow: 0 0 0.125em rgb(77, 144, 255);
}

.form-legend {
    font-size: 1.25rem;
    font-weight: bolder;
}

.form-field:not(:last-child) {
    margin-bottom: .75rem;
}

.form-label {
    color: #363636;
    display: block;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
}

.form-label:not(:last-child) {
    margin-bottom: .5em;
}

.form-help {
    display: block;
    font-size: 0.7rem;
    margin-bottom: .25rem;
    margin-top: 0.25rem;
    text-align: center;
}

.form-group {
    margin-top: .625rem;
    margin-bottom: .5rem;
}

.btn {
    padding: 2px;
    width: 75px;
    height: 25px;
    border: 1px solid #939393;
    border-radius: 0;
    margin-left: 2px;
    margin-top: 2px;
    color: #363636;
    background-color: hsl(217, 100%, 82%);
    font-size: 0.75rem;
}

.btn.is-secondary {
    color: #363636;
    background-color: #fff;
}

.btn.btn-danger {
    color: #fff;
    background-color: #dc3545;
}

.btn:hover {
    border-color: #363636;
}

/**
  Tabs are pretty much the same as bulma.io with some small changes to match ACE styling
 */
.tabs {
    display: flex;
    font-size: 1rem;
    justify-content: space-between;
    overflow: hidden;
    overflow-x: auto;
    white-space: nowrap;
}

.tabs a {
    align-items: center;
    border-bottom: 1px solid #939393;
    color: #363636;
    display: flex;
    justify-content: center;
    margin-bottom: -1px;
    padding: 0.5em 1em;
    vertical-align: top;
    cursor: pointer;
}

.tabs li {
    display: block;
}

.tabs li.is-active a {
    border-bottom-color: #3273dc;
    color: #3273dc
}

.tab-block {
    display: none;
}

.tabs ul {
    align-items: center;
    border-bottom: solid 1px #939393;
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    justify-content: flex-start;
}
